@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --ff-main: "Rubik", sans-serif;
    --txt-color: #3D3D3F;
}

body {
    background: rgba(239, 239, 239, 1);
}

.container {
    width: 1223px;
    height: 5791px;
    margin: 0 auto;
    background: rgba(239, 239, 239, 1);
}

.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 7px;
    justify-content: space-between;
}

.logo-img {
    width: 41.594px;
    height: 46.144px;
}

.logo-text {
    display: flex;
    align-items: center;
    width: 147px;
    color: var(--txt-color);
    font-family: var(--ff-main);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 60px;
    margin: 8px 0 0 4px;
}


.nav a {
    text-decoration: none;
    color: #3D3D3F;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.nav a:hover {
    color: rgba(243, 95, 47, 1);
}


.nav-but {
    border: none;
    display: flex;
    justify-content: center;
    width: 117.6px;
    height: 42px;
    margin-right: 53.5px;
    padding: 13px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    opacity: 0.85;
    background: var(--Gd-color, linear-gradient(3deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%));
    color: #FFF;
    font-family: "DM Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-but:hover {
    background: rgba(243, 95, 47, 1);
}

.main {
    height: 415px;
    display: flex;
}

.main-group {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 538px;
    height: 353px;
    padding-top: 80px;
}

.main-img {
    width: 626px;
    margin: 46px -63px -50px 59px;

}

.main-title {
    font-family: var(--ff-main);
    margin-top: 1px;
    font-size: 72px;
    font-weight: 500;
}

.main-text {
    color: var(--Primary, #3D3D3F);
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main .nav-but {
    width: 219px;

}

.main .nav-but:nth-of-type(1) {
    height: 55px;
    padding: 14px 24px;
    font-size: 19.5px;
}

.web-services {
    margin-top: 169px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.web-services-title {
    width: 100%;
    text-align: center;
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.web-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 109px 111px 0 0;
    gap: 21px;
    width: 235px;
    height: 204px;
}

.web-service-text {
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.web-service-counter {
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services-offering {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 66px;
    margin-left: -9px;
    width: 1170px;
    height: 478px;
    gap: 10px;
}

.service-offering-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150px;
}

.service-offering {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 23px;
    margin-top: 68px;
    margin-left: 12px;
    gap: 10px;
    width: 356px;
    height: 300px;
    background: rgba(255, 255, 255, 1)
}

.service-offering-img {
    width: 144px;
    height: 144px;
    margin-top: -75px;
}

.service-offering-name {
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.service-offering-text {
    color: #595959;
    text-align: center;
    font-family: "DM Sans";
    width: 227px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.arrow {
    width: 42px;
    height: 42px;
    margin-top: 20px;
}



.latest-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 158px;
    gap: 26px;
}

.latest-projects-tittle {
    width: 568.75px;
    color: var(--Primary, #3D3D3F);
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.latest-project {
    width: 389.773px;
    height: 367px;
    flex-shrink: 0;
    margin-top: -24px;
    border-radius: 10px;
    background: #FFF;
}

.latest-project-img {}

.latest-project-text {
    margin: 15px 33px 1px 34px;
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.latest-projects-button {
    width: 240.625px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 5px;
    opacity: 0.85;
    margin-top: 61px;
    margin-left: 20px;
    background: var(--Gd-color, linear-gradient(3deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%));
    color: #FFF;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.latest-projects-button:hover {
    background: rgba(243, 95, 47, 1);
}

.our-teams {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 42px;
    margin-top: 127px;
}

.our-team-tittle {

    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.our-team {
    width: 241px;
    height: 249px;
    width: 267px;
    height: 400px;
    margin-top: 3px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Stock, #EEEFF1);
    background: linear-gradient(139deg, rgba(254, 254, 254, 0.00) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.05);
}

.our-team-img {
    margin-top: -20px;
}

.our-team-name {
    width: 160px;
    height: 27px;
    margin: -90px 0 -5px 50px;
    color: var(--textv-2, #3D3D3F);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 166.667% */
}

.our-team-text {
    width: 119px;
    height: 20px;
    margin-left: 70px;
    flex-shrink: 0;
    color: #999;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
}

.our-team-social {
    width: 132px;
    height: 38px;
    flex-shrink: 0;
    margin-top: 17px;
}

.our-team:nth-of-type(2),
.our-team:nth-of-type(3) {
    padding-top: 15px;
}

.our-team:nth-of-type(3) .our-team-name{
    margin-top: -105px;
}

.testimonials {
    text-align: center;
    padding: 50px 0;
    margin-top: 69px;
    margin-left: -10px;
}

.section-tittle {
    text-align: center;
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.circle-container {
    position: relative;
    width: 743px;
    height: 547px;
    margin: 0 auto;

}

.circle-container img {
    border-radius: 50%;
}

.circle-center {
    position: absolute;
    top: 64%;
    left: 49.2%;
    transform: translate(-50%, -50%);

}

.circle-top {
    position: absolute;
    top: -15%;
    left: 100.2%;
    transform: translateX(-150%);
}

.circle-top-left {
    position: absolute;
    top: 6%;
    left: -15%;
}

.circle-top-right {
    position: absolute;
    top: 8%;
    right: -17.5%;
}

.circle-bottom-left {
    position: absolute;
    bottom: -29.5%;
    left: -4.5%;
}

.circle-bottom-right {
    position: absolute;
    bottom: -26.5%;
    right: -5%;
}

.testimonial-text {
    width: 319px;
    height: 140.392px;
    flex-shrink: 0;
    position: absolute;
    bottom: -36.5%;
    right: -2.1%;


}

.testimonial-text-img {
    position: absolute;
    bottom: -55.2%;
    right: -16.5%;
}

.testimonial-text p {
    width: 291px;
    height: 52px;
    flex-shrink: 0;
    color: #515155;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonial-text h4 {
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--Gd-color, linear-gradient(3deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 44.5%;
    right: 38.5%;
}

.testimonial-text span {
    width: 123px;
    height: 22px;
    flex-shrink: 0;
    color: #515155;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    bottom: 25%;
    right: 35%;
}

.testimonials .testimonial-shape-img {
    position: absolute;
    bottom: 13.1%;
    right: 32.5%;
    z-index: 1;
    border-radius: 0;
}

.contact-us {
    margin-top: 240px;
    margin-left: 103px;
    width: 951px;
    height: 696px;
}

.inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 9px;
    margin-top: 58px;
    gap: 33px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 343.168px;
    height: 87.378px;
    flex-shrink: 0;
}

.input-wrapper label {
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.9;
}

.input-wrapper input {
    width: 343.168px;
    height: 52.378px;
    flex-shrink: 0;
    margin-top: 11px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.03);
    border: 0;
}

.input-wrapper :placeholder-shown {
    color: #515155;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-wrapper:nth-of-type(3),
.input-wrapper:nth-of-type(4) {
    margin-top: -10px;
}

.input-wrapper:nth-of-type(5) {
    width: 719px;
    height: 226px;
    flex-shrink: 0;
}

.contact-us-button {
    width: 207px;
    height: 53px;
    margin-top: -31px;
    margin-left: 33px;
    flex-shrink: 0;
    border-radius: 5px;
    opacity: 0.85;
    background: var(--Gd-color, linear-gradient(3deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%));
    border: 0;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.contact-us-button:hover {
    background: rgba(243, 95, 47, 1);
}

.input-wrapper:nth-last-of-type(1) input {
    width: 719px;
    height: 191px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.03);
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: 2px;
    gap: 160px;
}

.logo-footer {
    display: flex;
    gap: 8px;
}

.contact p {
    margin-top: 14px;
    margin-left: -2px;
    color: var(--Medium-Dark, #646464);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 25.2px */
}

.footer-social {
    margin-top: 16px;
}

.category ul {
    list-style-type: none;
    margin-left: -35px;
    color: var(--Medium-Dark, #646464);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

footer li {
    margin-top: 24px;
}

footer li:first-child {
    margin-top: 11px;
    color: var(--Dark, #323232);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 100% */
    font-weight: 900;
}

.about ul {
    list-style-type: none;
    margin-left: 5px;
    color: var(--Medium-Dark, #646464);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

li:first-child {
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    font-weight: 900;
}

.newsletter {
    display: inline;
    margin-top: 11px;
    margin-left: 5px;
}

.newsletter h3 {
    color: var(--Primary, #3D3D3F);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 100% */
}

.newsletter p {
    width: 277px;
    color: var(--Medium-Dark, #646464);
    margin-top: 19px;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 25.2px */
}

.newsletter input {
    width: 292px;
    height: 40px;
    margin-top: 14px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1.1px solid #E1E2E4;
    background: #FFF;
    color: rgba(117, 117, 117, 0.65);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.newsletter button {
    width: 292px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 12px;
    border-radius: 5px;
    border: 1.1px solid #E1E2E4;
    opacity: 0.85;
    background: linear-gradient(332deg, #F35F2F -17.11%, rgba(243, 95, 47, 0.75) 86.38%);
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.newsletter button:hover {
    background: rgba(243, 95, 47, 1);
}

footer hr {
    width: 1472px;
    height: 1px;
    flex-shrink: 0;
    margin-left: -140px;
    margin-top: -130px;
    opacity: 0.2;
    background: #969696;
}

.footer-footer{
    display: flex;
    margin-top: -264px;
    margin-left: 9px;
}

.footer-footer p{
    color: var(--Medium-Dark, #646464);
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}

.security{
    display: flex;
    margin-left: 644px;
    gap: 54px;
}